 /* Reset some default styles for the layout */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-image: url('doctor2.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     /* Center the image horizontally and vertically */
     background-attachment: fixed;
     /* Fixed background so it doesn't scroll with the content */
     background-color: #f0f0f0;
     /* Background color in case the image is transparent or doesn't load */
 }


 /* Navbar styles */
 .navbar {
     background-color: #333;
     color: #fff;
     padding: 30px;
 }

 /* Sidebar styles */
 .sidebar {
     width: 250px;
     background-color: #555;
     color: #fff;
     padding: 20px;
     float: left;
     margin-top: 10px;
     margin-left: 10px;
     /* Make the sidebar float to the left */
 }

 .sidebar h2 {
     font-size: 35px;
 }



 /* Content area styles */
 .content {
     margin: 00px;
     /* Adjust for sidebar width + some margin */
     padding: 00px;
 }

 /* Add some spacing between content and sidebar */
 .content::after {
     content: "";
     display: table;
     clear: both;
 }

 .content p {
     font-size: 100px;
     text-align: left;
     padding: 00px 70px 00px 60px;
     margin: 30px;
     position: relative;
     left: 90px;
     color: rgb(0, 0, 0);
 }



 /* Define the button style */
 .my-button {
     padding: 10px 20px;
     /* Padding to add space inside the button */
     background-color: #0074d9;
     /* Background color */
     color: #fff;
     /* Text color */
     border: none;
     /* Remove button border */
     border-radius: 5px;
     /* Rounded corners */
     cursor: pointer;
     /* Change the cursor to a hand pointer on hover */
     position: relative;
     left: 600px;

 }

 /* Change the button style on hover */
 .my-button:hover {
     background-color: #8ed628;
     /* Darker background color on hover */
 }